/* 
	Document:				styles.css
	Modified date: 			3 April 2008
	Created by:				Gemma Leigh
	Deployment version:		spotthebull/css/styles.css
	Notes:					The overall page layout.
	-----------------------------------------------------------------
*/
/* =Typography
-----------------------------------------------------------------------------*/
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 16px;
}

/* =Links
-----------------------------------------------------------------------------*/
/* generic link style */
a           { color: #FF6600; text-decoration: none; outline: none; }
a:hover     { color: #000; }


/* =Headings
-----------------------------------------------------------------------------*/
h2.image-replace { text-indent: -5000px;}
h3 				 { font-size: 16px; line-height: 20px; font-weight: bold; padding-bottom: 20px;}


/* =Basic Layout
-----------------------------------------------------------------------------*/
html{
	background: #000;
	
}
body{
	text-align: center;
	color: #333;
	background: #000;
	}

/* =Containers
-----------------------------------------------------------------------------*/
/* full width containers to repeat background sections */
#wrapper{ 
	margin: 0px auto; 
	width:1280px; 
	height: 780px;
	background:#000 url(../images/stb_bg.jpg) top left no-repeat; 
	text-align: left; 
}

.poster { 	
	position: absolute;
	left: 296px;
	top: 228px;
	width: 685px; 
	height: 386px; 
	background: url(../images/poster_bg.gif) top left no-repeat;
}

#bg-form{
	background: url(../images/poster_bg_form.gif) top left no-repeat;	
}
#bg-stf{
	background: url(../images/poster_bg_stf.gif) top left no-repeat;	
}

#terms iframe { margin-top: 40px; margin-left: 50px; }

/* =Main Content
-----------------------------------------------------------------------------*/

#main-content{
	position: relative;
	width: 1280px;
}

/* =Header
-----------------------------------------------------------------------------*/
#header {
	width:690px;
	height:70px;
	position: absolute;
	left: 295px;
	top: 158px;
	}

#header-logo {
	float:left;
	width: 216px;
	padding-top: 22px;
}


/* =Footer
-----------------------------------------------------------------------------*/
#footer{
	margin: 0px auto;
	width:1280px;
	background-color: #311E08;
	text-align: right;
	height: 30px;
}
#footer ul { float: right; clear: both; padding-top: 5px;}
#footer li{
	font-size: 11px;
	list-style: none;
	display: inline;
	margin-right:10px;
	color: #FFF;
}
#footer a{ color: #FFF; text-decoration: underline;}


/* =Forms
-----------------------------------------------------------------------------*/
form#enter-details,
form#send-to-friend { float: left; width: 100%; clear: both; margin-top: 150px;}

form label			{ font-size: 11px;}

form input,
form select,
form option 		{  font-size: 12px;}

form#enter-details .your-details label,
form#send-to-friend .send-inputs label	{ font-size: 12px; font-weight: bold; padding-right: 10px;}

form .box{
	width: 398px;
	float: left;
	display: inline;
}
form .opt-in,
form .send-inputs { width: 246px;}

form#enter-details .opt-in p 		{ width: 100%; padding-bottom: 16px;}
form#enter-details .opt-in p a		{ text-decoration: underline;}

form .your-details h3 {
	padding-left: 140px;
}
form .your-details select{
	width: 60px;
	margin-right: 115px;
}
form .your-details input {
	width: 170px;
}
form .your-details p{
	text-align: right;
	margin-right: 80px;
	padding-bottom: 16px;	
}
form .your-details p span{
	display: block;
	font-size: 11px;
	font-style: italic;
	padding: 5px 15px 0 0;
}
form .buttons {
	text-align: right;
	padding-top: 10px;
	margin-right:0px;
	
}
form .buttons input {
	 margin-left: 10px;
}

/* send to a friend */
form .heres-how h3 {
	padding-left: 70px;
}
form .heres-how ol {
	margin-left: 85px;
	margin-right: 30px;
}
form .heres-how ol li {
	list-style-type: decimal;
	padding-left: 10px;
	padding-bottom: 10px;
	font-size: 11px;
}

form .send-inputs p{
	text-align: left;
	padding-bottom: 16px;	
}
form .send-inputs label{ display: block;}
form .send-inputs p input{ width: 240px;}


/* =Misc 1
-----------------------------------------------------------------------------*/



/* =Misc 2
-----------------------------------------------------------------------------*/