<div id="wrapper">
	<div id="main-content">
		<div id="header"><img src="images/header.jpg" alt="Spot the Bull and win Glastonbury tickets"/></div>
		<div class="poster">
			<div class="poster-inner">
				<h2>what happens next?</h2>
				<h3>We&rsquo;ll email your friend(s) a link to play Spot the Bull. They need to pick a square and confirm their details by 2pm to join your team.</h3>

				<h3>If you, or one of your team mates, pick the winning square, we&rsquo;ll enter you all into the draw. If the team wins we&rsquo;ll give you a call with the news.</h3>
				
				<h3>Good luck</h3>
			</div>
			<div class="btn-wrapper">
				<a href="#"><img src="images/btn_finish.gif" alt="finish"></a>
			</div>
		</div>
	</div>
</div>
<div id="footer">
	<ul>
		<li>&copy; Orange 2008, all rights reserved.</li>
		<li><a href="#">terms and conditions</a></li>
		<li><a href="#">privacy policy</a></li>
		<li><a href="#">flash version</a></li>
	</ul>
</div>