<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Win Glastonbury 2008 Festival Tickets with Spot the Bull from Orange</title>

	<!-- main stylesheet imports all others -->
	<link href="css/main.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="css/print.css" rel="stylesheet" type="text/css" media="print" />
	<meta name="keywords" content="glastonbury, glastonbury tickets, glastonbury festival tickets, win glastonbury tickets, win glastonbury festival tickets, spot the bull" />
	<meta name="description" content="Orange are giving away free tickets for Glastonbury 2008 festival. For a chance of winning  just give us your email and you'll be the first to find out whenSpot the Bull launches" />
	
  <%= javascript_include_tag :defaults %>

	<!-- Google Tracking Code for STB -->
	<script type="text/javascript">
	  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>

</head>

<body>

  <%= yield %>

</body>
</html>
